@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

* {
  margin: 0;
  padding: 0;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 20px;
}

.App {
  background-color: rgb(14, 3, 43);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.heartParent {
  display: inline;
}

.heart {
  height: 40px;
  width: 40px;
  background: #a01719;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #a01719;
  animation: heart 0.5s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }

  80% {
    transform: rotate(-45deg) scale(1.00);
  }

  100% {
    transform: rotate(-45deg) scale(0.80);
  }
}

.heart:before {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  background: #a01719;
  top: -50%;
  border-radius: 50px;
  box-shadow: -10px -10px 90px #a01719;
}

.heart:after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  background: #a01719;
  right: -50%;
  border-radius: 50px;
  box-shadow: 10px 10px 90px #a01719;
}

.heading {
  font-family: 'Cute Font', cursive;
  color: pink;
  /* color: gray; */
  font-size: 10vw;
  text-shadow: -0.4vw -0.4vw white;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.sun {
  animation: sun 10s linear infinite;
}

@keyframes sun {
  from {
    transform: rotate(1deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.yellowBox {
  width: 90vw;
  height: 90vw;
  max-width: 800px;
  max-height: 800px;
  background-color: goldenrod;
}

.brownBox {
  width: 97%;
  height: 97%;
  /* background-color: rgb(114, 70, 70); */
  /* background-color: rgb(65, 65, 152); */
  background-color: black;
}

.goldBox {
  width: 97%;
  height: 97%;
  background-color: yellow;
  /* background-color: pink; */
}

.imageBox {
  width: 97%;
  height: 97%;
  background-image: url("./static/img/MainImage.jpeg");
  background-position: center center;
  background-size: contain;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}